{% extends 'base.html' %}
{% block main %}
    <div>
    <ul class="about">
        <p>LY，男，90后python开发工程师！16年入行。一直喜欢web前端及后端技术，一边工作一边积累经验，分享一些个人博客<br />
           <br />
           那脑袋里的智慧，就像打火石里的火花一样，不去打它是不肯出来的。<br />
            <br />
            生命是一出傻子写的戏剧，充满了喧哗与骚动，却找不到一丝意义。<br />
            <br />
            行动的是非曲直，只有从事实的发展上去判断。<br />
            <br />
            什么都比不上厄运更能磨炼人的德性。<br /><span style="float:right">--《莎士比亚》</span>
            <br />
            <img src="../static/base/img/zd01.jpg">
          <h2>About my blog</h2>
          &nbsp;
          <p>域 名：www.leiy.xyz 创建于2018年&nbsp;</p>
          <br />
          <p>服务器：阿里云服务器&nbsp;&nbsp;<a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&amp;productCode=vm" target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>
          <br />
          <p>备案号：豫ICP备18028514</p>

    </ul>
</div>
{% endblock main %}