<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load blog_tags %}

<html>
<head>
    <title>个人博客</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'base/css/m.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/info.css' %}">
    {% block link %}{% endblock link %}
    <!-- js -->
    <script src="{% static 'base/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/js/pace.min.js' %}"></script>
    <script src="{% static 'base/js/modernizr.js' %}"></script>


</head>


<body>
    <header>
        <div class="logo">
            <a href="{% url 'blog_project:index' %}">Ly&个人博客</a>
        </div>

        <nav id="nav">
            <ul>
              <li><a href="{% url 'blog_project:index' %}">网站首页</a></li>
              <li><a href="{% url 'blog_project:index' %}">我的相册</a></li>
              <li><a href="{% url 'blog_project:index' %}">我的日记</a></li>
              <li><a href="{% url 'blog_project:abort' %}">关于我</a></li>
              <li><a href="{% url 'blog_project:index' %}">留言</a></li>
              <li><a href="{% url 'blog_project:index' %}">内容页</a></li>
              <li><a href="{% url 'blog_project:index' %}">暂未开放</a></li>
            </ul>
        </nav>
      <script>
        window.onload = function ()
        {
        var obj=null;
        var As=document.getElementById('nav').getElementsByTagName('a');
        obj = As[0];
        for(i=1;i<As.length;i++){if(window.location.href.indexOf(As[i].href)>=0)
        obj=As[i];}
        obj.id='selected'
        }
      </script>
    </header>

<article>
    <div class="l_box">

        <div class="search">
          <form role="search" action="{% url 'blog_project:search' %}" method="get" name="searchform" id="searchform">
              {% csrf_token %}
            <input name="q" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
          </form>
        </div>


        <div class="fenlei">
            <h2 >文章分类</h2>
            {% get_categories as category_list %}
            <ul>
                {% for category in category_list %}
                <li>
                    <a href="{% url 'blog_project:category' category.pk %}">
                        {{ category.name }}(<span class="post-count">{{ category.num_posts}}</span>)
                    </a>
                </li>
                {% empty %}
                暂无分类！
                {% endfor %}
            </ul>
        </div>

        <div class="tuijian">
            <h2>最新文章</h2>
            {% get_recent_posts as recent_post_list %}
            <ul>
                {% for post in recent_post_list %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
                {% empty %}
                暂无文章！
                {% endfor %}
            </ul>
        </div>

        <div class="cloud">
            <h2>标签云</h2>
            {% get_tags as tag_list %}
            <ul>
               {% for tag in tag_list %}
                    <a href="{% url 'blog_project:tag' tag.pk %}">{{ tag.name }}</a>
               {% empty %}
                暂无标签！
               {% endfor %}
            </ul>
        </div>

        <div class="guanzhu">
          <h2>关注我</h2>
          <ul>
            <img src="/static/base/img/wx.png">
          </ul>
        </div>
    </div>



<div class="r_box">
    {% block main %}
    {% endblock main %}
</div>

</article>
<footer>
    <p class="copyright">&copy Design by Ly&个人博客 豫ICP备18028514</p>
</footer>


<script src="{% static 'base/js/script.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
